.top_header_left img{
    display: block;
    width: 80%;
}
.top_header_right img{
    display:block ;
    width: 100%;
}



/*row2*/
.data_right img{
    width: 100%;
    display: block;
}
span{
    color:darkblue;
    font-weight: 700;
    background-color: unset;
}
.name{
    font-size: 20px;
    display: flex;
}
.name p{
    background-color: gold;
    margin-left: 10px;
    padding: 0 20px;
    display: block;
    padding-left: 0;
    font-size: 18px;
    font-weight: 700;
}
.nation{
    font-size: 23px;
    display: flex;
}
.nation p{
    font-size: 18px;
    margin-left: 10px;
    padding: 0 10px;
    display: block;
    font-weight: 700;
    
}

/*row3*/
.title{
    display: block;
    text-align: center;
    font-weight: 900;
    font-size: 25px;
    text-decoration: underline;
    margin: auto;
    padding:10px 0;
    margin-bottom: 20px;
}

/*row4*/
.sig img{
    display: block;
    width: 40%;
    margin: auto;
}
body{
    margin: 0 !important;
    padding:0 !important;
}